<table class="table"> 
    <tr> 
        <th>PractitionerId</th> 
        <th>Active</th> 
        <th>Identifier</th> 
        <th></th> 
    </tr> 
    <tr *ngFor='let practitionerrole of practitionerroleArr$' (click)="selectPractitionerRole(practitionerrole)"> 
        <td>{{practitionerrole.id}}</td> 
        <td> 
           {{practitionerrole.active}}
        </td> 
        <td>  
            <p *ngFor='let identifier of practitionerrole.identifier'>{{identifier.value}}</p> 
        </td> 
    </tr> 
</table> 
<button (click)="createPractitionerRole()" type="button" class="btn btn-success">Neue Rolle anlegen</button> 
<!-- Wird nur angezeigt, wenn selectedPatient gesetzt ist und auch eine id hat-->
<div *ngIf="(selectedPractitionerRole?.id != null)"> 
    {{selectedPractitionerRole?.id}} 
    <!--
Die Patienten Component, bekommt mit [id] die id vom ausgewählten Patienten au
s der Liste 
    und liefert einen Event zurück, wenn der Patient editiert wurde--> 
    <app-practitioner-role-detail
    [id] = "selectedPractitionerRole?.id" 
    (practitionerroleModified)="onPractitionerModified($event)" 
    ></app-practitioner-role-detail>
</div> 