<hr />
<h2>Flag: {{ flag?.id }}</h2>
<form [formGroup]="flagForm" (ngSubmit)="onSubmitUpdate()">
  <ul class="list-group">
    <li class="list-group-item">
      <label>PE_START:</label>
      <input
        formControlName="periodStart"
        [owlDateTime]="dt1"
        [owlDateTimeTrigger]="dt1"
        placeholder="Date Time"
      />
      <owl-date-time #dt1></owl-date-time>
      <label>PE_END:</label>
      <input
        formControlName="periodEnd"
        [owlDateTime]="dt2"
        [owlDateTimeTrigger]="dt2"
        placeholder="Date Time"
      />
      <owl-date-time #dt2></owl-date-time>
    </li>

    <li class="list-group-item">
      <label> Status </label>
      <select class="selectpicker" formControlName="status">
        <option>activity</option>
        <option>inactivity</option>
        <option>entered+end</option>
      </select>
    </li>
    <li class="list-group-item">
      <label> Reference: </label>
      <a href="{{ flag?.author?.reference }}"> {{ flag?.author.display }} </a>
    </li>
  </ul>
  <div>
    <button (click)="deleteselectedFlag()" type="button" class="btn btn-danger">
      Flag löschen
    </button>
    <button (click)="onSubmitUpdate()" type="button" class="btn btn-warning">
      Änderungen speichern
    </button>
  </div>
</form>
