<table class="table"> 
    <tr> 
        <th>PatientId</th> 
        <th>Name</th> 
        <th>Identifier</th> 
        <th></th> 
    </tr> 
    <tr *ngFor='let patient of patientArr$' (click)="selectPatient(patient)"> 
        <td>{{patient.id}}</td> 
        <td> 
            <p *ngFor='let name$ of patient.name'>{{name$.text}}</p> 
        </td> 
        <td>  
            <p *ngFor='let identifier of patient.identifier'>{{identifier.value}}</p> 
        </td> 
    </tr> 
</table> 
<button (click)="createPatient()" type="button" class="btn btn-success">Neue Rolle anlegen</button> 
<!-- Wird nur angezeigt, wenn selectedPatient gesetzt ist und auch eine id hat-->
<div *ngIf="(selectedPatient?.id != null)"> 
    {{selectedPatient?.id}} 
    <!--
Die Patienten Component, bekommt mit [id] die id vom ausgewählten Patienten au
s der Liste 
    und liefert einen Event zurück, wenn der Patient editiert wurde--> 
    <app-patient-detail
    [id] = "selectedPatient?.id" 
    (patientModified)="onPatientModified($event)" 
    ></app-patient-detail>
</div> 
