<table class="table">
  <tr>
    <th>ResearchSubjectId</th>
    <th>Period</th>
    <th>Datetime</th>
  </tr>
  <tr
    *ngFor="let researchsubject of researchsubjectArr$"
    (click)="selectResearchSubject(researchsubject)"
  >
    <td>{{ researchsubject.id }}</td>
    <td>
      <p>
        {{ researchsubject.period.start }}
        <br />
        {{ researchsubject.period.end }}
      </p>
    </td>
    <td>
      {{ researchsubject.datetime }}
      <!-- <++> 
      <p *ngFor="let identifier of researchsubject.identifier">
        {{ identifier.value }}
      </p>
 -->
    </td>
  </tr>
</table>
<button (click)="createResearchSubject()" type="button" class="btn btn-success">
  Neue Rolle anlegen
</button>
<!-- Wird nur angezeigt, wenn selectedResearchSubject gesetzt ist und auch eine id hat-->
<div *ngIf="selectedResearchSubject?.id != null">
  <!--
Die ResearchSubjecten Component, bekommt mit [id] die id vom ausgewählten ResearchSubjecten au
s der Liste 
    und liefert einen Event zurück, wenn der ResearchSubject editiert wurde-->
  <app-researchsubject-detail
    [id]="selectedResearchSubject?.id"
    (researchsubjectModified)="onResearchSubjectModified($event)"
  ></app-researchsubject-detail>
</div>
