<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Spengermed</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/patients">Patienten</a>
      </li>
      <li>
        <a class="nav-link" href="/practitioners"> Practitioner </a>
      </li>
      <li>
        <a class="nav-link" href="/flags"> Flags </a>
      </li>
      <li>
        <a class="nav-link" href="/practitioner-roles"> Practitioner Roles </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/research-subject">Research Subject</a>
      </li>
    </ul>
  </div>
</nav>
