<table id="jslicense-labels1">
  <tr>
    <td><a href="/polyfills.js">polyfills.js</a></td>
    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>
    <td><a href="/polyfills.ts">polyfills.ts</a></td>
  </tr>
  <tr>
    <td>
      <a href="/main.js">main.js</a>
    </td>
    <td>
      <a href="http://www.gnu.org/licenses/agpl-3.0.html"
        >GNU-AGPL-3.0-or-later</a
      >
    </td>
    <td><a href="/main.ts">Spengerspital Client Code</a></td>
  </tr>
  <tr>
    <td>
      <a href="/vendor.js">vendor.js</a>
    </td>
    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>
    <td><a href="/vendor.js">vendor.js</a></td>
  </tr>
  <tr>
    <td>
      <a href="/runtime.js">runtime.js</a>
    </td>
    <td>
      <a href="http://www.jclark.com/xml/copying.txt">Expat</a>
    </td>
    <td>
      <a href="/runtime.js">runtime.js</a>
    </td>
  </tr>
</table>
