<table class="table">
  <tr>
    <th>PractitionerId</th>
    <th>Name</th>
    <th>Identifier</th>
    <th></th>
  </tr>
  <tr
    *ngFor="let practitioner of practitionerArr$"
    (click)="selectPractitioner(practitioner)"
  >
    <td>{{ practitioner.id }}</td>
    <td>
      <p *ngFor="let name$ of practitioner.name">
        {{ name$.text }}
      </p>
    </td>
    <td>
      <p *ngFor="let identifier$ of practitioner.identifier">
        {{ identifier$.value }}
      </p>
    </td>
  </tr>
</table>
<button (click)="createPractitioner()" type="button" class="btn btn-success">
  Neuen Practitioner anlegen
</button>
<!-- Wird nur angezeigt, wenn selectedPatient gesetzt ist und auch eine id hat-->
<div *ngIf="selectedPractitioner?.id != null">
  {{ selectedPractitioner?.id }}
  <!--
Die Patienten Component, bekommt mit [id] die id vom ausgewählten Patienten au
s der Liste 
    und liefert einen Event zurück, wenn der Patient editiert wurde-->
  <app-practitioner-detail
    [id]="selectedPractitioner?.id"
    (practitionerModified)="onPractitionerModified($event)"
  ></app-practitioner-detail>
</div>
