<hr />
<h2>ResearchSubject {{ researchsubject?.id }}</h2>
<form [formGroup]="researchsubjectForm" (ngSubmit)="onSubmitUpdate()">
  <ul class="list-group">
    <li class="list-group-item">ID: {{ researchsubject?.id }}</li>
    <!-- 
    <li class="list-group-item">
      <div formArrayName="identifier">
        <h3>Identifier</h3>
        <button (click)="addIdentifier()" type="button" class="btn btn-success">
          Neuen Identifier anlegen
        </button>
        <div *ngFor="let identifier of idiArray.controls; let i = index">
          <div [formGroupName]="i">
            <label> Value:<input formControlName="value" type="text" /> </label>
         </div>
        </div>
      </div>
    </li>

	-->

    <li class="list-group-item">
      <label>PE_START:</label>
      <input
        formControlName="periodStart"
        [owlDateTime]="dt1"
        [owlDateTimeTrigger]="dt1"
        placeholder="Date Time"
      />
      <owl-date-time #dt1></owl-date-time>
      <label>PE_END:</label>
      <input
        formControlName="periodEnd"
        [owlDateTime]="dt2"
        [owlDateTimeTrigger]="dt2"
        placeholder="Date Time"
      />
      <owl-date-time #dt2></owl-date-time>
    </li>

    <li class="list-group-item">
      <label>Datetime</label>
      <input
        formControlName="dateTime"
        [owlDateTime]="dt3"
        [owlDateTimeTrigger]="dt3"
        placeholder="Date Time"
      />
      <owl-date-time #dt3></owl-date-time>
    </li>
    <li class="list-group-item">
      <label>Display</label>
      <input formControlName="display" type="text" />
    </li>
  </ul>
  <div>
    <button
      (click)="deleteselectedResearchSubject()"
      type="button"
      class="btn btn-danger"
    >
      ResearchSubjecten löschen
    </button>
    <button (click)="onSubmitUpdate()" type="button" class="btn btn-warning">
      Änderungen speichern
    </button>
  </div>
</form>
