<table class="table">
  <tr>
    <th>FlagId</th>
    <th>Status</th>
    <th>Identifier</th>
    <th></th>
  </tr>
  <tr *ngFor="let flag of flagArr$" (click)="selectFlag(flag)">
    <td>{{ flag.id }}</td>
    <td>
      {{ flag.status }}
    </td>
    <td>
      <p *ngFor="let identifier$ of flag.identifier">
        {{ identifier$.value }}
      </p>
    </td>
  </tr>
</table>
<button (click)="createFlag()" type="button" class="btn btn-success">
  Neuen Flag anlegen
</button>
<!-- Wird nur angezeigt, wenn selectedPatient gesetzt ist und auch eine id hat-->
<div *ngIf="selectedFlag?.id != null">
  <!--
Die Patienten Component, bekommt mit [id] die id vom ausgewählten Patienten au
s der Liste 
    und liefert einen Event zurück, wenn der Patient editiert wurde-->
  <app-flag-detail
    [id]="selectedFlag?.id"
    (flagModified)="onFlagModified($event)"
  ></app-flag-detail>
</div>
